---
import Image from "astro/components/Image.astro";
import pointIconDark from "../../../public/icons/checkmark-dark.svg";
import pointIconLight from "../../../public/icons/checkmark-light.svg";

const { title, text, points, img, imgAlt, theme } = Astro.props;
const themeClass = theme === "light" ? "theme-light" : "theme-dark";
---

<section class={themeClass}>
    <div class="service-card">
        <div class="text">
            <h2>{title}</h2>
            <p>{text}</p>
        </div>
        <ul class="points">
            {
                points.map((point) => (
                    <li class="point">
                        {theme == "light" ? (
                            <Image src={pointIconLight} alt={"checkmark"} />
                        ) : (
                            <Image src={pointIconDark} alt={"checkmark"} />
                        )}
                        {point}
                    </li>
                ))
            }
        </ul>
    </div>
    <Image src={img} alt={imgAlt} class="service-image" />
</section>

<style>
    .theme-dark {
        color: white;
        background-color: var(--dark);
    }
    .theme-light {
        color: var(--black);
        background-color: white;
    }
    .service-card {
        padding: 2em 1em;
    }
    .service-card p {
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 2.5rem;
    }
    .service-card h2 {
        font-size: 2.5rem;
    }
    .service-image {
        object-fit: cover;
        width: 100%;
    }
    .points {
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin: 2em 0px;
        justify-content: center;
    }
    .points img {
        width: 3rem;
        height: auto;
    }
    .point {
        display: flex;
        gap: 1em;
        list-style: none;
        padding: 0px;
        font-size: 1.25rem;
        font-weight: 300;
    }
    @media (width >= 768px) {
        .service-card {
            padding: 6em 4em;
        }
        .service-card h2 {
            margin-bottom: 1em;
        }
        .points {
            margin-top: 4em;
            gap: 4em;
        }
    }
    @media (width >= 1024px) {
        .service-card {
            display: flex;
            gap: 5em;
            flex-direction: row;
        }
        .text {
            width: 50%;
        }
        .point {
            align-items: center;
        }
    }
    @media (width >= 1440px) {
        .service-card {
            padding: 10em 16em;
            gap: 8em;
        }
    }
</style>
